.comment-area {
    position: relative;
    height: 700px;
}
  
  .overlay {
    position: absolute; /* Posiziona l'overlay sopra l'immagine */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Colore nero con opacità 0.5 */
    z-index: 1; /* Assicurati che l'overlay sia sopra l'immagine */
    height: 700px;
  }
  
  .comment-area h3, 
  .comment-area ul, 
  .comment-area div {
    position: relative; /* Rendi il contenuto sopra l'overlay */
    z-index: 2; /* Assicurati che il contenuto sia sopra l'overlay */
    color: white; /* Colore del testo per contrasto */
  }

  .right-column {
    height: 700px;
  }




.no-review-bg {
    background-image: url("https://files.oaiusercontent.com/file-6JhLh2daIl2wDcF0WXJPuw6I?se=2024-10-04T15%3A24%3A55Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D6e3e0782-de15-4fe1-8be1-7698c42453c7.webp&sig=mY98GWv7Ok2sqAOxdy8CPcmFCLdVcCn2YtzGwSf1VAI%3D");
    height: 700px;
    width: 100%;
}


